<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ozimos.myapplication">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    //alarm receiver permision
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        //broadcast receiver
        <receiver
            android:name=".alarm.MyAlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".broadcast.MySMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        //services
        <service
            android:name=".broadcast.DownloadService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        //activities
        <activity
            android:name=".alarm.AlarmActivity"
            android:exported="true" />
        <activity
            android:name=".broadcast.SmsReceiverActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".broadcast.BroadcastActivity"
            android:exported="true" />
        <activity
            android:name=".CoroutineActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalendarRangeActivity" />
    </application>

</manifest>